<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vet Practice Edivet</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <h2 id="main-header">Edivet - Veterinary Practice</h2>

  <nav id="menu">
    <ul>
        <li class="m-item">
          <a href="/vets">Vets</a>
        </li>
      
        <li class="m-item">
          <a href="/pets">Pets</a>
        </li>
      
        <li class="m-item">
            <a href="/customers">Customers</a>
        </li>
    </ul>
    </nav>
    
    <hr>

    <%= yield %>
  </body>
</html>