<h2>Our Pets</h2>
<p><a href="/pets/new">Add new pet</p>

<div class="list">
<% @pets.each do |pet| %>
    <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a> | <%= pet.type %></h3>
<% end %>
</div>
