<div class="our">
<h2 class="our-item">Our Pets</h2>
<p class="our-item"><a href="/pets/new">Add new</p>
</div>
<div class="index-list">
<% @pets.each do |pet| %>
    <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a> | <%= pet.type %></h3>
<% end %>
</div>
