body {
  font-family: "IM Fell DW Pica", serif;
}

#content {
  border: solid 1px black;
  background-color: rgb(218, 197, 171);
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fredoka One", cursive;
}
h4 a {
  text-decoration: none;
}

#welcome-header {
  font-size: 45px;
  text-align: center;
}

#top-head-container {
  display: flexbox;
  flex-flow: column wrap;
  justify-content: center;
  background-color: white;
  padding-bottom: 0.2rem;
  border-radius: 0.2rem;
}
.top-head-item {
  display: flex;
  justify-content: center;
}

#menu {
  display: flex;
}

#menu li {
  list-style: none;
  margin-right: 1rem;
}
#menu li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#menu li a:hover {
  text-decoration: underline;
}
#logo-wrapper {
  /* display: flex; */
  justify-content: center;
}

#logo {
  max-width: 150px;
  max-height: 110px;
}

.section-header-new-pet {
  display: flex;
  justify-content: center;
}
.section-header {
  display: flex;
  justify-content: center;
}

.actions {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  border-bottom: white solid 1px;
}
.actions li a {
  margin-right: 1rem;
  text-decoration: none;
}

.actions li a:hover {
  text-decoration: underline;
}

.a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.a:hover {
  color: black;
  text-decoration: underline;
  border-radius: 8px;
}

/* Table */

.table-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* max-width: 600px; */
  padding: 20px;
}

#customer-table {
  width: 100%;
  border-spacing: 0 15px;
}
#pet-table {
  width: 100%;
}
#vet-table {
  width: 100%;
}
#appointment-table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 20px, 20px, 20px, 20px;
  width: 180px;
  text-align: left;
  vertical-align: top;
}

th {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(218, 197, 171);
}
tr:hover {
  background-color: whitesmoke;
}

.details-anchor-left-border {
  /* border-left: solid black 0.1rem; */
  background-color: rgb(218, 197, 171);
}

.show-customer-vet-pet-list {
  list-style: none;
  display: list-item;
}

/* Show details */

#details-table {
  width: 90%;
}

.show-details-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
}
.show-details {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 550px;
  padding: 20px 30px 30px 30px;
}
.btns-wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.btns {
  display: inline;
  align-self: center;
  height: 1.5rem;
  width: 8rem;
  background-color: white;
  border: black solid 1px;
  margin-right: 1em;
}
.btns:hover {
  background-color: rgb(218, 197, 171);
  border: white solid 2px;
  font-weight: bolder;
}

/* Forms: New , Edit */

label {
  float: left;
  clear: left;
  width: 150px;
  text-align: right;
  margin-right: 1.5em;
  margin-bottom: 2em;
}

input,
select,
textarea {
  width: 120px;
  float: left;
  height: 20px;
  margin-bottom: 1em;
}

.new-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.edit-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
