<h2>Add new vet</h2>

<form id="form" method="post" action="/vets">
<label for="first-name-field">First name</label>
<input type="text" id="first-name-field" name="first_name">

<label for="last-name-field">Last name</label>
<input type="text" id="last-name-field" name="last_name">

<label for="phone-field">Phone number</label>
<input type="text" id="phone-field" name="phone_number">

<input type="submit" value="Add Vet">
</form>