<h2 class="section-header">Add new vet</h2>
<hr>

<div class="new-form">
<form id="form" method="post" action="/vets">

<label for="first-name">First name:</label>
<input type="text" id="first-name-field" name="first_name" required><br>

<label for="last-name">Last name:</label>
<input type="text" id="last-name-field" name="last_name" required><br>

<label for="phone_number">Phone number:</label>
<input type="text" id="phone_number" name="phone_number"><br>

<label for="e_mail">E-mail:</label>
<input type="text" id="e_mail" name="e_mail"><br>

<input id="submit-btn" type="submit" value="Add">
</form>
</div>