<div class="single-item">
<h3><%= @vet.first_name %> <%= @vet.last_name %> </h3>
<p>Contact: <%= @vet.phone_number %></p>
<p>Assigned: <a><%= @vet.pet_count %> pets </a></p>

<p id="back"><a href="/vets">Back to vets</a></p>
</div>