<h2>Our Customers</h2>
<p><a href="/customers/new">Add new customer</p>

<div class="list">

<% @customers.each do |customer| %>
<h3><a href="/customers/<%= customer.id %>"><%= customer.first_name %> <%= customer.last_name %></a></h3>
<% end %>
</div>
