
<h2 class="section-header">Our customers</h2>
    <div class="actions">
        <li><a class="a" href="/customers/new">Add new customer</a></li>
    </div>

    
<div class="table-wrapper">
    <table id"index-table">
        <tr>
            <th>Name</th>
            <th>Number of Pets</th>
            
        </tr>
            <% for customer in @customers %>
            <tr> 
                <td>
                    <%= customer.first_name %> <%=customer.last_name %>
                </td>
                <td>
                    <%= customer.pet_count %>
                </td>
                
                <td class="details-anchor-left-border">
                    <a class="a" href="/customers/<%= customer.id %>">Details</a>
                </td>
            </tr>
            <% end %>
    </table>
</div>