<div class="our">
<h2 class="our-item">Our Customers</h2>
<div class="our-item"><p><a href="/customers/new">Add new customer</p></div>
</div>


<div class="index-list">
<div class="index-list-item">
<% @customers.each do |customer| %>
<h3><a href="/customers/<%= customer.id %>"><%= customer.first_name %> <%= customer.last_name %></a></h3>
<% end %>
</div>
</div>
