<div class="customer-add">
<h2>Add new customer</h2>

<form id="form" method="post" action="/customers">
<div class="form-el">
<label for="first-name-field">First name</label>
<input type="text" id="first-name-field" name="first_name">
</div>

<div class="form-el">
<label for="last-name-field">Last name</label>
<input type="text" id="last-name-field" name="last_name">
</div>

<div class="form-el">
<label for="phone-field">Phone number</label>
<input type="text" id="phone-field" name="phone_number">
</div>

<div class="form-el">
<label for="email-field">E-mail</label>
<input type="text" id="email-field" name="e_mail">
</div>

<div class="form-el">
<input id="btn" type="submit" value="Add Customer">
</div>

</form>
</div>