<h2 class="section-header">Add new customer</h2>


<div class="new-form">
    <form id="form" method="post" action="/customers">
        <div class="form-el">
        <label for="first-name">First name:</label>
        <input type="text" id="first-name-field" name="first_name" required>
        </div>

        <div class="form-el">
        <label for="last-name">Last name:</label>
        <input type="text" id="last-name-field" name="last_name" required>
        </div>

        <div class="form-el">
        <label for="phone">Phone number:</label>
        <input type="text" id="phone-field" name="phone_number" required>
        </div>

        <div class="form-el">
        <label for="email">E-mail:</label>
        <input type="text" id="email-field" name="e_mail">
        </div>
        <br>

        
        <input class="btns" type="submit" value="Add">
        
    </form>
</div>